# main process
node_modules/
release/
databases/
database/
logs/
dist/main/
dist/renderer/

# renderer process
renderer/node_modules
renderer/.pnp
renderer/.pnp.js
renderer/.env

renderer/coverage

renderer/build

renderer/.DS_Store
renderer/.env.local
renderer/.env.development.local
renderer/.env.test.local
renderer/.env.production.local

renderer/npm-debug.log*
renderer/yarn-debug.log*
renderer/yarn-error.log*

# other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
database/db.sqlite

